@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 100%;
}


body {
  background: radial-gradient(118.42% 118.42% at 50% 50%, #1C4A56 0%, #202658 100%);
  font-family: "Poppins", "Helvetica Neue", Arial;
  font-size: 16px;
  line-height: 1.5;
}

.bg-custom {
  background: radial-gradient(118.42% 118.42% at 50% 50%, rgba(24, 67, 78, 0.47) 0%, #191f56 100%);
}

.small {
  width: 256px;
  height: 256px;  
  background: #000;
}

.medium {
  width: 512px;
  height: 512px;
}

.large {
  width: 1024px;
  height: 1024px;
}

